App {
    layers: base popup modal;
}

VerticalScroll {
    margin-left: 1;
    margin-right: 1;
    margin-top: 1;
    margin-bottom: 1;

    border: wide tall #74b9ff;

    text-align: center;

    height: 75%;
}

TextArea {
    border: wide tall #74b9ff;
    margin-left: 1;
    margin-right: 1;
    margin-bottom: 0;

    height: 90%;
}

.user-message {
    background: rgba(255, 255, 255, 0.1);
    text-align: right;
    padding-top: 1;
    padding-bottom: 1;
    padding-right: 2;
    padding-left: 20;
}

.assistant-message {
    text-align: left;
    padding-top: 1;
    padding-bottom: 1;
    padding-right: 20;
    padding-left: 2;
}

.cursor {
    background: rgba(255, 255, 255, 0.1);
}

#input-section {
    height: 30%;
}

#sidebar {
    width: 20%;

    margin-top: 1;
    margin-bottom: 0;
    margin-left: 1;
    margin-right: 1;
}

#model-picker-container {
    layer: popup;

    dock: top;
    align: center middle;

    width: 50%;
    height: 40%;
    border: wide solid #555;
    background: #111;
    padding: 1;
}

#model-picker {
    width: 100%;
    height: 100%;
}

#settings-container {
    width: 50%;
    height: 40%;
    border: wide solid #555;
    background: #111;
    padding: 1;
    layer: popup;
    dock: top;
    align: center middle;
}

#preprompt-editor-container {
    layer: modal;
    layout: vertical;
    dock: top;
    width: 90;
    height: 80;
    border: round white;
    background: $panel;
    padding: 1 2;
}

#editor {
    layer: modal;
    dock: top;
    align: center middle;
    width: 90%;
    height: 80%;
    border: round white;
    background: $panel;
    padding: 1 2;
}

#preprompt-textarea {
    height: auto;
    min-height: 10;
}